<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473128152892-oo7gktpfd15fquv37nu6sk63db2kk6lj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473128152892-oo7gktpfd15fquv37nu6sk63db2kk6lj</string>
	<key>API_KEY</key>
	<string>AIzaSyCdgzDreGtDhFNniQwP78WrE6l2_2eeoMk</string>
	<key>GCM_SENDER_ID</key>
	<string>473128152892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.iclever.flutterVision</string>
	<key>PROJECT_ID</key>
	<string>ml-toy</string>
	<key>STORAGE_BUCKET</key>
	<string>ml-toy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473128152892:ios:ed4ecbaa10d3148c2bf839</string>
	<key>DATABASE_URL</key>
	<string>https://ml-toy.firebaseio.com</string>
</dict>
</plist>